html {
  height: 100%;
}
body {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  height: 100%;
}

.panel-heading {
  border:none !important;
  background-color: white !important;
}

.myTextArea {
  resize: vertical;
  border: none;
}

.compact-table > tbody > tr td {
  padding-top: 0px;
	padding-bottom: 0px;
}
